<div class="container my-3">

      <i class="bi bi-moon me-5  " appDarkModeDirective></i>


    <div class="row">
  


       @for (p of filterList; track p.id) {
         <div class="col-12 col-sm-6 col-md-6 col-lg-3 my-2 ">
            <div  class="card shadow border-1 border-primary-subtle fixed-card h-100">
            <img  appZooming [src]="p.thumbnail" class="card-img-top bg-secondary-subtle" alt="thumbnail">
            <div class="card-body d-flex flex-column h-100 ">
                <div >
                <h5 class="card-title text-primary">{{p.title}}</h5>
                <p class="card-text">  {{ p.description | firstWordsPipe:3 }}</p>
                <h6 >Category: {{p.category}}</h6>
                <h6 class="text-success">Price: {{p.price |currency}}</h6>
                <div class="d-flex justify-content-between align-items-center">
                    <!-- <h6 class="">Stock :{{p.stock}}</h6> -->
                     @switch (p.stock) {
                        @case(0){
                        <h6 class="text-danger">Out Of Stock</h6>
                        }
                        @case (1) {
                        <h6 class="text-warning">Last Item</h6>
                        }
                        @default {
                        <h6>Stock :{{p.stock}}</h6>
                        }
                     }
                    <span class="badge bg-warning">{{p.rating }} ⭐</span>
                
                </div>

                <input type="number" [disabled]="p.stock===0 " placeholder="Enter count of item" class="form-control mt-2" #inp min="1" [max]="p.stock">
                </div>
                

                <div class="mt-auto ">
                <hr>
                <div class="d-flex  justify-content-between align-items-center gap-2">
                    <!-- <button [ngClass]="p.stock === 0 ? 'btn-danger' : 'btn-outline-primary'" class="btn  w-100" [disabled]="p.stock===0"  (click)="addProduct(inp , p)">
                        Add Product
                    </button> -->

                    <app-button [ButtonTitle]="'Add Product'"
                                [btnClass]="'btn w-100 ' + (p.stock === 0 ? 'btn-danger' : 'btn-outline-primary')"
                                [isDisabled]="p.stock===0"
                                (btnClick)="addProduct(inp,p)"
                    >

                  </app-button>

                </div>

                </div>

                </div>
            </div>
        </div>
       }@empty{
      <h1>List Not Available</h1>
    }
    </div>


  </div>