 <div class="container my-3">

  <h3 class="text-center fw-bold mb-3 text-primary">🛍️ Filter Products by Category</h3>
  <div class="w-50 mx-auto shadow-sm p-2 rounded bg-light">
    <select  class="form-select border-0"
      [(ngModel)]="selectedName"
       >
      @for(cat of catList; track $index){
        <option [value]="cat.name">{{ cat.name | titlecase }}</option>
      }
    </select>
  </div>
</div>

<div class="d-flex justify-content-center my-3">
  <div class="card shadow-sm px-4 py-2">
    <h5 class="text-success mb-0">
      💰 Total Price:   {{ totalPrice > 0 ? (totalPrice | currency) : 'No purchases yet' }}

    </h5>
  </div>
  
</div>

<svg
(click)="gotoform()"
  xmlns="http://www.w3.org/2000/svg"
  width="40"
  height="40"
  fill="currentColor"
  class="bi bi-plus-circle float-end text-primary "
  viewBox="0 0 16 16"
>
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
  <path
    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"
  />
</svg>
<div class="my-5">
<app-products [RecivedName]="selectedName" (total)="RecivedTotalPrice($event)"></app-products>
</div>